
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<meta charset="utf-8" />


<link href="~/css/Branches.css" rel="stylesheet" />
<div class="loader"></div>
<div class="row" style="background-color:#ffffff ; margin-bottom:30px">


    <div class="column2">
        <div style="direction:rtl ; float:right ; margin-bottom:20px ">
            <h3 style="direction:rtl ; float:right; color:#333333 ; font-weight:bold ; font-size:20px  ; line-height:30px">    مدينة نصر</h3>
            <br />
            <a href="javascript:void(0)" onclick="change_map('https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d863.3060835095963!2d31.328513329183806!3d30.05910349886731!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583e5d198ea1fb%3A0x8cf0cdca1746eada!2sIsmail+Al+Kabbani%2C+Al+Manteqah+Al+Oula%2C+Nasr+City%2C+Cairo+Governorate!5e0!3m2!1sen!2seg!4v1498161215991')">
                <div class="demo fa" style="color:#333333 ;text-decoration:underline; font-weight:bold ; font-family:'Arabic-Indic' ; font-size:15px ; ">
                    9 شارع اسماعيل القبانى، مدينة نصر، القاهرة.

                </div>
            </a>
            <div class="fa fa-location-arrow" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00  ">
            </div>
            <br />
            <div class="fa" style="color:#333333 ; font-weight:bold ; font-family:'Simplified Arabic' ; direction:rtl ; font-size:15px ; line-height:20px ">
                33350190 (202)

            </div>

            <div class="fa fa-phone-square" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00">
            </div>
        </div>

        <div style="direction:rtl ; float:right ; margin-bottom:20px  ">
            <h3 style="direction:rtl ; float:right; color:#333333 ; font-weight:bold ; font-size:20px  ; line-height:30px"> هليوبوليس</h3>
            <br />
            <a href="javascript:void(0)" onclick="change_map('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6903.146150244184!2d31.346794!3d30.106411000000005!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdb3c71fec651f611!2sEl+Laithy+Auto+Group!5e0!3m2!1sen!2seg!4v1538139883094')">
                <div class="demo fa" style="color:#333333 ;text-decoration:underline; font-weight:bold ; font-family:'Arabic-Indic' ; font-size:15px ; ">
                    15 شارع أحمد فؤاد، سانت فاتيما، مصر الجديدة، القاهرة.

                </div>
            </a>
            <div class="fa fa-location-arrow" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00  ">
            </div>
            <br />
            <div class="fa" style="color:#333333 ; font-weight:bold ; font-family:'Simplified Arabic' ; direction:rtl ; font-size:15px ; line-height:20px ">
                33350190 (202)

            </div>

            <div class="fa fa-phone-square" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00">
            </div>
        </div>

        <div style="direction:rtl ; float:right ; margin-bottom:20px  ">
            <h3 style="direction:rtl ; float:right; color:#333333 ; font-weight:bold ; font-size:20px  ; line-height:30px"> القاهرة الجديدة</h3>
            <br />
            <a href="javascript:void(0)" class="link" onclick="change_map('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1726.4347143319224!2d31.449849000000004!3d30.069276999999996!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8a15fab67cf852d!2sellaithy+Auto+Group!5e0!3m2!1sen!2seg!4v1538140017742')">
                <div class="demo fa" style="color:#333333; text-decoration:underline;font-weight:bold ; font-family:'Arabic-Indic' ; font-size:15px ; ">
                    مول 24، القاهرة الجديدة، القاهرة.

                </div>
            </a>
            <div class="fa fa-location-arrow" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00  ">
            </div>
            <br />
            <div class="fa" style="color:#333333 ; font-weight:bold ; font-family:'Simplified Arabic' ; direction:rtl ; font-size:15px ; line-height:20px ">
                33350190 (202)

            </div>

            <div class="fa fa-phone-square" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00">
            </div>
        </div>

        <div style="direction:rtl ;float:right ; margin-bottom:20px ">
            <h3 style="direction:rtl ;float:right; color:#333333 ;text-decoration:underline ;font-weight:bold ; font-size:20px  ; line-height:30px">
                المعادى
            </h3>
            <br />

            <a href="javascript:void(0)" onclick="change_map('https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6912.6473247100475!2d31.279049!3d29.970126999999998!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1bdda7b411cc8bbc!2sEllaithy+Auto+Group!5e0!3m2!1sen!2sus!4v1538140093747')">
                <div class="demo fa" style="color:#333333 ;text-decoration:underline; font-weight:bold ; font-family:'Arabic-Indic' ; font-size:15px ; ">
                    شارع اللاسلكى، المعادى، القاهرة.

                </div>
            </a>
            <div class="fa fa-location-arrow" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00  ">
            </div>
            <br />
            <div class="fa" style="color:#333333 ; font-weight:bold ; font-family:'Simplified Arabic' ; direction:rtl ; font-size:15px ; line-height:20px ">
                33350190 (202)

            </div>

            <div class="fa fa-phone-square" style="direction:rtl ;float:right ; padding: 0 10px 0 20px ; display:inline ; color:#ff6a00">
            </div>
        </div>

    </div>

    <div class="column" id="frame">
        <div class="map-wrapper">
            <iframe id="ifr_div" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1441.4545482458786!2d31.328000831433503!3d30.059244626747816!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x56b804dac04568fa!2sEllaithy+Auto+Group!5e0!3m2!1sen!2seg!4v1525346741487" name="_iframe" frameborder="0" style="border:1px groove #ff6a00 ; width:100% ; height:100% ; margin-top:10px ; margin-left:20px" allowfullscreen></iframe>
        </div>
    </div>

</div>

<script type="text/javascript">
      function change_map(src){
        $("#ifr_div").attr('src', src);
      }
</script>


