@model Glow.Models.Player

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PL_Mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PL_Mobile)
        </dd>

    

   

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PL_Membership }) |
    @Html.ActionLink("Back to List", "Index")
</p>
