@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Ahmed Gad<br />
   
    <abbr title="Phone">P:</abbr>
   01001907326
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Gadosky.eg@gmail.com">Gadosky.eg@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Gadosky.eg@gmail.com">Gadosky.eg@gmail.com</a>
</address>